@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;600;700;800&family=Poppins:wght@600&family=Roboto&display=swap');

body {
  background-color: #19191A;
  font-family: 'Open Sans';
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

.header {
  background: rgba(25, 25, 26, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(20px);
  padding: 1.9375rem 0;
}

img {
  pointer-events: none;
}

:root {
  --background-gold: linear-gradient(94.55deg, #F4E07F 4.8%, #E1A93C 28.99%, #F4E07F 76.56%, #E1A93C 94.98%);
}

/* ::selection {
  background: gold;
  color: #19191A;
} */

/* .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.header-content {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  gap: 25px 25px;
  justify-content: space-between;
  align-items: center;
  grid-template-areas:
    "header-logo menu header-button";
}

.header-logo {
  grid-area: header-logo;
}

.menu {
  grid-area: menu;
  display: grid;
  justify-content: center;
}

.header-button {
  grid-area: header-button;
  justify-content: center;
  display: grid;
}

.header-logo a {
  display: inline-block;
}

.header-logo img {
  width: 16.875rem;
}

a:active,
a:focus {
  outline: none;
}

img {
  vertical-align: bottom;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu-item a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  text-align: center;
  color: #FFFFFF;
  transition: text-shadow .3s, color .3s;
}

.menu-item a:hover {
  color: #e8bb55;
  text-shadow: 0 0 16px rgba(244, 162, 97, 0.64);
}

.menu-item a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  background: var(--background-gold);
  height: 1px;
  width: 0%;
  z-index: -1;
  transition: width 0.3s, opacity 0.3s, box-shadow 0.3s;
  border-radius: 100px;
  opacity: 0;
  box-shadow: 0 0 16px rgba(42, 157, 143, 0);
}

.menu-item a:hover:after {
  width: 100%;
  opacity: 1;
  box-shadow: 0 0 16px rgba(157, 128, 42, 0.88);
}

.menu-item.underline_a a:after {
  right: 0;
}

.menu-item.underline_a a:hover:after {
  right: auto;
  left: 0;
}

.menu-item {
  margin-right: 2.5rem;
}

.menu-item:last-child {
  margin-right: 0;
}

.button {
  border: 0;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  text-align: center;
  text-transform: uppercase;
  color: #262627;
  padding: 0.5rem 1.5rem;
  transition: background-position-x .3s;
}

.button.gold {
  background: linear-gradient(94.55deg, #F4E07F 4.8%, #E1A93C 59.45%, #F4E07F 94.98%);
  animation: none;
}

.gold {
  /* background: linear-gradient(94.55deg, #F4E07F 4.8%, #E1A93C 28.99%, #F4E07F 76.56%, #E1A93C 94.98%); */
  /* background: linear-gradient(94.55deg, #E1A93C 4.8%, #F4E07F 59.45%, #E1A93C 94.98%); */

  background: linear-gradient(94.55deg, #F4E07F 4.8%, #E1A93C 23.54%, #F4E07F 49.75%, #E1A93C 80.81%, #F4E07F 97.99%);
}

.button.gold:hover {
  background-position-x: 3.125rem;
}

.main {
  background-image: url(../images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 13.75rem;
  margin-top: -7.5rem;
  padding-bottom: 6.875rem;
  overflow: hidden;
}

.gold {
  animation: wave 4s ease-in-out infinite;
  background-size: 200% 200%;
}

@keyframes wave {

  /* 0% {
    background-position-x: 0px;
  }

  50% {
    background-position-x: 350px;
  }

  100% {
    background-position-x: 640px;
  } */
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.main-text {
  margin-bottom: 4.625rem;
}

.main-text-header,
.main-text-title {
  text-align: center;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.main-text-header {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.0625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.3125rem;
}

.main-text-header::before,
.main-text-header::after {
  content: '';
  margin: 0 1.75rem;
  display: block;
  background: var(--background-gold);
  width: 12rem;
  height: 2px;
}

.main-text-title {
  font-weight: 800;
  font-size: 2.375rem;
  line-height: 3.25rem;
  margin-bottom: 1.25rem;
}

.main-text-subtitle {
  font-weight: 400;
  line-height: 150%;
  font-size: 1.125rem;
  max-width: 41.375rem;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
}

.main-quote {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quote-block {
  max-width: 55.9375rem;
  background: #202022;
  border: 2px solid #3F3E3D;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 1.4375rem 2.25rem;
  margin-left: 2.5rem;
}

.quote-author {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  text-transform: capitalize;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 0.625rem;
}

.quote-text {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 150%;
  color: #FFFFFF;
}

.main .quote-img {
  animation: rotate 4s linear infinite;
}

.main .quote-img img {
  animation: rotate-revert 4s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-revert {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.quote-img {
  /* width: 16.5625rem; */
  border: 0.5rem solid transparent;
  background: var(--background-gold);
  border-radius: 1000px;
  background-size: 106%;
  background-position-x: -0.5rem;
}

.quote-img img {
  width: 16.5625rem;
  background: #221f1b;
  border-radius: 1000px;
  /* width: 100%; */
}

.rules {
  padding: 11.5625rem 0 34.875rem 0;
  overflow: hidden;
  background-image: url(../images/rules-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.transactions {
  margin-top: -17.1875rem;
  padding-top: 2rem;
  padding-bottom: 5.625rem;
}

.connect {
  padding-bottom: 7.6875rem;
}

.rules-title {
  font-weight: 800;
  font-size: 1.875rem;
  line-height: 2.5625rem;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 1.25rem;
  width: fit-content;
}

.rules-subtext {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.875rem;
  color: #FFFFFF;
  margin-bottom: 2.625rem;
  max-width: 38.3125rem;
}

.rules .row {
  position: relative;
}

.rules-img {
  position: absolute;
  top: -8.75rem;
  left: 45.9375rem;
}

.transaction-title {
  display: flex;
  justify-content: space-between;
  margin: 0 4.4375rem 0 2.8125rem;
  margin-bottom: 1.375rem;
}

.transaction-title>div {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: #FFFFFF;
}

.hash {
  max-width: 10.5625rem;
}

.bitwal-sec,
.bitwal {
  max-width: 10.3125rem;
}

.age {
  max-width: 6.5rem;
  white-space: nowrap;
}

.block-num {
  max-width: 4.5rem;
}

.value {
  max-width: 4.375rem;
}

.tx-fee {
  max-width: 3.4375rem;
}

.hash,
.bitwal,
.bitwal-sec {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 992px) {
  .trans-action>* {
    margin-left: 1.5625rem;
  }

  .trans-action :first-child {
    margin-left: 0;
  }

  .trans-action {
    flex-wrap: nowrap;
    width: min-content;
  }

  .transaction-content {
    overflow: auto;
    white-space: nowrap;
  }

  .transaction-title {
    width: 59rem;
  }
}

.trans-action {
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #FFFFFF;
  margin: 1.5625rem 0;
  padding: 2.4375rem 5rem 2.4375rem 2.6875rem;
  border: 2px solid transparent;
  border-image: var(--background-gold);
  -moz-border-image: var(--background-gold);
  -webkit-border-image: var(--background-gold);
  border-image-slice: 1;
}

.connect-block {
  padding: 5.875rem 3.6875rem;
  background: rgba(19, 17, 26, 0.32);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.connect-buttons {
  width: 47%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.connect-buttons a {
  text-decoration: none;
  display: inline-block;
}

.connect-button {
  border: none;
  text-align: center;
  padding: 1.5rem 1.875rem;
  min-width: 16rem;
  border-radius: 3.125rem;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 1.5625rem;
  line-height: 2.375rem;
  text-transform: uppercase;
  color: #000000;
  margin: 0.25rem;
  transition: background .2s ease-in-out;
}

/* .connect-buttons a:first-child {
  margin-right: 1.875rem;
} */
.gold-button {
  background: linear-gradient(94.55deg, #F4E07F 4.8%, #E1A93C 23.54%, #F4E07F 49.75%, #E1A93C 80.81%, #F4E07F 97.99%);
}

.out-gold {
  border: 3px solid transparent;
  background: linear-gradient(94.55deg, #F4E07F 4.8%, #E1A93C 23.54%, #F4E07F 49.75%, #E1A93C 80.81%, #F4E07F 97.99%);
  box-shadow: inset 0px 0px 0px 100vw #17161a;
  border-radius: 60px;
  background-size: 103%;
  background-position-x: -3px;
  transition: background .3s ease-in-out;
}

.connect-button:hover,
.connect-button:hover span {
  background-position-x: 100px;
}

.out-gold span {
  background: linear-gradient(94.55deg, #F4E07F 4.8%, #E1A93C 23.54%, #F4E07F 49.75%, #E1A93C 80.81%, #F4E07F 97.99%);
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  transition: background .3s ease-in-out;
}


.connect-text {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3.0625rem;
  /* background: var(--background-gold); */
  max-width: 35.75rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.footer {
  padding: 3.125rem 0;
  border-top: 1px solid transparent;
  border-image: var(--background-gold);
  border-image-slice: 1;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand,
.rights,
.copypaste {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: #FFFFFF;
}

@media (max-width:1400px) {
  .rules-img {
    position: absolute;
    top: -8.75rem;
    left: 38.9rem;
  }

  html {
    font-size: 15px;
  }

  .connect-buttons {
    width: 50%;
  }
}

@media (max-width:1200px) {
  .connect-block {
    flex-direction: column;
  }

  .connect-text {
    max-width: none;
    text-align: center;
  }

  .connect-buttons {
    margin-top: 15px;
    width: auto;
  }
}

.mobile-menu {
  display: flex;
  align-items: center;
  width: 58%;
  justify-content: space-between;
}

@media (max-width:768px) {
  .container {
    width: 93%;
  }

  .connect-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main {
    margin-top: -10.5rem;
    padding-top: 16.75rem;
  }

  .header-content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 25px 25px;
    grid-template-areas:
      "header-logo header-button"
      "menu menu";
  }

  .footer-content {
    flex-wrap: wrap;
  }

  .footer-content * {
    margin: 20px;
  }

  .footer-content *:last-child {
    margin: 20px auto;
  }
}

@media (max-width:576px) {
  .main {
    margin-top: -14.5rem;
    padding-top: 18.8rem;
  }

  .header-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 25px 25px;
    justify-content: center;
    grid-template-areas:
      "header-logo"
      "menu"
      "header-button";
  }

  .rules {
    padding: 6rem 0 33rem 0;
  }

  .rules-title {
    width: auto;
  }

  .rules-text {
    text-align: center;
  }

  .main-quote {
    flex-direction: column;
  }

  .quote-block {
    margin-left: 0;
  }

  .quote-img {
    margin-bottom: -25px;
  }

  .footer-content {
    flex-direction: column-reverse;
  }

  .footer {
    padding: 1.125rem 0;
  }

  .footer-content * {
    margin: 8px;
  }

  .footer-content *:last-child {
    margin: 8px auto;
  }

  .main-text-header::before,
  .main-text-header::after {
    margin: 0.5rem 0.5rem;
    animation: width100 5s ease-in-out;
    animation-delay: 2s;
  }

  .main-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .main-text-header {
    flex-direction: column;
    width: max-content;
  }

  @keyframes width100 {
    0% {
      width: 12rem;
    }

    50% {
      width: 100%;
    }

    100% {
      width: 12rem;
    }

  }
}